@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    scroll-behavior: smooth;
}
.legend-container {
    margin-top: 20px;
  }
  
  .legend-columns {
    display: flex;
  }
  
  .legend-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px; /* Adjust the margin based on your design */
  }
  .tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
  }
  
  .tooltip-color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
  }
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .legend-color-box {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    border-radius: 100px;
  }
  
  .legend-label {
    font-size: 14px;
  }
  

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    /* background-color: #4caf50; */
    color: white;
    border: none;
    
    border-radius: 4px;
    
  }

  .custom-button input {
    display: none;
  }
  
.openingSection{
    padding-top: 100px;
    padding-bottom: 40px;
    background: rgb(255,255,255);
    background: linear-gradient(70deg, rgba(255,255,255,1) 45%, rgba(177,216,183,1) 45%, rgba(220,246,245,1) 95%);
}

@media (max-width: 1024px) {
    .openingSection{
        background: white;
    }
}

@media (max-width: 500px) {
    .openingSection{
        padding-bottom: 0px;
    }
}

.footer{
    background: rgb(177,216,183);
background: radial-gradient(circle, rgba(177,216,183,1) 90%, rgba(215,243,238,1) 98%);
}