:root {
   --body-bg-color: #dce4e3;
   --green: #18c29c;
   --light-green: #8ed7c6;
   --light-grey: #dce4e3;
   --text-color: #084236;
}

.navbar {
   z-index: 2;
   width: 80px;
   max-width: 5rem;
   background-color: white;
   -webkit-box-shadow: 10px 0px 10px -4px #D3D3D3;
   -moz-box-shadow: 10px 0px 10px -4px #D3D3D3;
   box-shadow: 10px 0px 10px -4px #D3D3D3;
   border-right: 5px solid #D3D3D3;
   height: 100vh;
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transition: all .3s ease;
   overflow-y: auto; 
 } 

 /* Hide the default scrollbar */
.navbar::-webkit-scrollbar {
   width: 4px;
 }
 
 .navbar::-webkit-scrollbar-track {
   background-color: var(--light-grey);
 }
 
 /* Style the scrollbar thumb */
 .navbar::-webkit-scrollbar-thumb {
   background-color: var(--light-grey);
   border-radius: 2px;
 }
 
 /* Style the scrollbar thumb on hover */
 .navbar::-webkit-scrollbar-thumb:hover {
   background-color: var(--light-grey);
 } 

.navbar {
   padding: 0.5rem; 
}




/*logo*/
.navbar .navbar-container .navbar-logo-div { 
   margin-top: 20px;  
   display: flex;
   gap: 2rem;
   align-items: center;
   justify-content: center;
   margin-bottom: 1.7rem;
   /* padding-left: 1rem; */
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler {
   transition: .2s ease-in-out;
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler i { 
 font-size: 1rem; 
}

.navbar .navbar-container .navbar-logo-div .navbar-logo-link {
   display: none; 
}

/*menu list*/
.navbar .menu-list {
   margin-top: 70px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.25rem;
   width: 100%;
}

.navbar .menu-list .menu-item {    
   padding-top: 10px;
   padding-bottom: 10px;
   width: 100%;
}

.navbar .menu-list .menu-item.current {
   background-color: #006241;
   color: white;
   padding-bottom: 10px;
   border-radius: 5px;
   width: 100%;
}

.navbar .menu-list .menu-item  .menu-link{    
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.7rem; 
   transition: 0.2s ease-in-out; 
   font-weight: 600;
}



.navbar .menu-list .menu-item  .menu-link .menu-link-text{   
   display: none;
   color: inherit; 
}

/*navbar.active*/
/*navbar.active navbar*/
.navbar.active {
   width: 300px; 
   max-width: 20%; 
   background-color: white;
   -webkit-box-shadow: 10px 0px 10px -4px #D3D3D3;
  -moz-box-shadow: 10px 0px 10px -4px #D3D3D3;
  box-shadow: 10px 0px 10px -4px #D3D3D3;
}

/*navbar.active logo*/
.navbar.active .navbar-container .navbar-logo-div {  
   justify-content: space-between;
   padding: 0rem 1rem; 
}

.navbar.active .navbar-container .navbar-logo-div .navbar-logo-link {
   display: block; 
}

/*navbar.active search input*/
.navbar.active .navbar-search {
   background-position: 1rem 0.7rem;
   padding: 1rem;
   padding-left: 3rem;
}

.navbar.active #icon-search {
 top: 5.1rem; 
 left: 1.6rem;
}

.navbar.active .navbar-search::placeholder { 
   visibility: visible;  
   opacity: 1;
}

/*navbar.active menu*/
.navbar.active .menu-list { 
   padding-left: 1rem;
}

.navbar.active .menu-list .menu-item  .menu-link {
   justify-content: flex-start;
}

.navbar.active .menu-list .menu-item  .menu-link .menu-link-text{   
   display: inline;
}

/*navbar.active user container*/
.navbar.active .user-container {
   justify-content: space-between;
   align-items: center;
}

.navbar.active .user-container .user-info {
   display: flex; 
}


/*dashboard*/
.dashboard { 
   width: auto;
   height: auto; 
   margin-left: 5rem;
}

.dashboard.active {
   margin-left: 20%; 
}

@media only screen and (max-width: 1460px) {
   .dashboard.active { 
      margin-left: 20%;
  } 

  .navbar .menu-list {
     margin-top: 55px;
  }
}

/*media queries*/
@media only screen and (max-width: 870px) {
   .navbar.active {
       max-width: 27%; 
   }

   .dashboard.active { 
       margin-left: 20%;
   }
   .navbar .menu-list {
      margin-top: 35px;
   }
   .navbar.active .menu-list { 
      padding-left: 0.5rem;
   }
} 

@media only screen and (max-width: 670px) { 
   .navbar.active { 
       min-width: 100%;        
   }

   .navbar .navbar-container {
       position: relative;
       width: 100%;
   }

   .navbar .navbar-search { 
       position: absolute;
       border-radius: 0;
       left: 0;
   }

   .navbar .menu-item {
       position: relative;
       top: 0.1rem;
   }

   .navbar .menu-list {
      margin-top: 0px;
   }
}

@media only screen and (max-width: 350px) { 
   .dashboard .title {
       font-size: 1.7rem;
   }
}  